<h1>{{title}}</h1>
<form>
	<div class="form-group">
		<label>Book Title:</label>
		<input type="text" class="form-control" placeholder="Title" ng-model="newBook.title">
	</div>
	<div class="form-group">
		<label>Book Type:</label>
		<input type="text" class="form-control" placeholder="Some important task" ng-model="newBook.type">
	</div>
	<div class="form-group">
		<label>Book Price:</label>
		<input type="text" class="form-control" placeholder="Some important task" ng-model="newBook.price">
	</div>
	<button class="btn btn-default" ng-click="addNewBook()">{{btnText}}</button>
</form>

