<div ng-repeat="books in items | filter: searchText.search">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-1"><input type="checkbox" name=""/></div>
      <div class="col-xs-7"><a ng-href="#/books/{{books.id}}">{{books.title}}</a></div>
      <div class="col-xs-2">{{books.type}}</div>
      <div class="col-xs-1">{{books.price}}</div>
      <div class="col-xs-1"><button class="btn btn-danger" ng-click="remove(books.id)">delete</button></div>
      <div class="col-xs-1"><button class="btn btn-info"> <a ng-href="#/edit/{{books.id}}">Edit</a></button>
</div>
    </div>
  </div>
